.top {
    top: 0;
}

.navbar-brand {
    font-family: 'Fredericka the Great', serif;
    font-size: 1.7em;
}

.log {
    margin: 0 auto;
    margin-top: 10%;
    width: 35%;
    border: 1px solid rgb(211, 205, 205);
    padding: 1%;
    border-radius: 10px;
    color: black;
}

.overlay {
    position: fixed; /* Sit on top of the page content */ 
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: rgba(180, 204, 201, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

}

.form-control {
    width: 50%;
    margin: 0 auto;
}

.socialaccount_providers {
    list-style: none;
}

.socialaccount_providers a {
    text-decoration: none;
}

.socialaccount_providers a:hover {
    color: white;
}

.log a {
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.profile-pic {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
}

.right {
    border-left: 1px solid rgb(236, 230, 230);
}

/* .left {
    padding: 1%;
    display: flex;
    flex-direction: column;
    
}  */

.profile {
    margin-top: 1%;
    
}

.create {
    margin: 0 auto;
}

.biz {
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* .home {
    border: 1px solid grey;
} */