body {
    background-image: url('https://goldwallpapers.com/uploads/posts/background-ocean/background_ocean_011.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: beige;
    font-family: 'Oregano', serif;
}

.title {
    
}

.top {
    top: 0;
}

.navbar-brand {
    font-family: 'Fredericka the Great', serif;
    font-size: 1.7em;
}

.log {
    margin: 0 auto;
    margin-top: 10%;
    width: 35%;
    border: 1px solid rgb(211, 205, 205);
    padding: 1%;
    border-radius: 10px;
    color: white;
}

.form-control {
    width: 50%;
    margin: 0 auto;
}

.socialaccount_providers {
    list-style: none;
}

.socialaccount_providers a {
    text-decoration: none;
}

.socialaccount_providers a:hover {
    color: white;
}

.log a {
    text-decoration: none;
    color: bisque;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.profile-pic {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
}

.right {
    border-left: 1px solid rgb(236, 230, 230);
    padding-left: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    margin-bottom: 1%;
}

.tz a {
    text-decoration: none;
    color: black;
}

/* .left {
    padding: 1%;
    display: flex;
    flex-direction: column;
    
}  */

.modal-body {
    color: black;
}

.profile {
    margin-top: 1%;
    
}

.create {
    margin: 0 auto;
}

/* .biz {
    display: flex;
    flex-direction: column;
    margin: auto;
} */

/* .home {
    border: 1px solid grey;
} */

.content {
    position: relative;
    font-size: 1.5em;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    margin: 0 auto;
    background-color: rgba(214, 202, 202, 0.2); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    padding: 10px;

}

.card {
    width: 300px;
    height: 200px;
    margin: 20px;
    
}

.dropdown-menu a {
    text-decoration: none;
    color: black;
}

.results {
    margin: 0 auto;
    color: black;
}

.home-text {
    margin-top: 30%;
}