{% load bootstrap4 %}
{% load static %}
{% load account socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%if title%}
    <title>NeighbourhoodWatch | {{title}}</title>
    {%else%}
    <title>NeighbourhoodWatch</title>
    {%endif%}

    {%block styles%}
        {% bootstrap_css %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka+the+Great">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oregano">
        <script src="https://kit.fontawesome.com/ef9216c536.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    {%endblock%}
</head>
<body>
    {% include 'navbar.html' %}  
        {% if messages %}
        <div class="container msg">
        <div class="alert alert-info alert-dismissible fade out show" role="alert">
            <div class="">
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        </div>
        {% endif %}  
    {% block content %}{%endblock%}

    {% block scripts %}
        <script>
        UPLOADCARE_PUBLIC_KEY='6c5cb955135f08ac1634'
        </script>    
                
        <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>