{%extends 'base.html'%}
{%load bootstrap4%}
{%load static%}
{% block content %}
<div class="container home">
    <div class="row content">
        <div class="col-md-2"></div>
        <div class="col-md-8 overlay text-center">
            <div class="home-text">
            <h1 class="title">Welcome to the neighbourhood watch</h1>
            <div class="main-content">
                <div class="panel">
                    <p> We bring you news from the neighbourhood closest to you.</p>
                </div>
                <div class="panel">
                    <a href="/accounts/signup" class="btn btn-info btn-lg">Join us today</a>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{%endblock%}