{% extends 'base.html' %} {%load bootstrap4%} {%load static%}
{% block content%}
<div class="container">
    <div class="row">
        <div class="results text-center">
            {%for business in businesses%}
                <div class="card">
                    <div class="card-body"><h4>{{business.name}}</h4></div>
                    <div class="card-footer"><small>{{business.email}}</small></div>
                </div>
            {%empty%}
                <div class="title text-center">
                    <h4>There no businesses to display for search term : {{search_term}}</h4>
                </div>
            {%endfor%}
        </div>
    </div>
</div>
{%endblock%}